html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    background-color: #FCF7FF;
    padding-left: 5%;
    padding-right: 5%;
}

.grid-container-about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    gap: 10px;
    grid-template-areas:
    "header header header header"
    "about about about about"
    "footer footer footer footer";
}

#title{
    color: #FCF7FF;
    margin-left: 25px;
}

.header-about{
    grid-area: header;
    background-color: #878C8F;
}

.nav-container{
    display: flex;
}

.navbar{
    text-align: center;
    padding: 6px;
    background-color: #A4969B;
}

.nav-logo img{
    width: 40px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 35%;
}

.about-me{
    grid-area: about;
    background-color: #878C8F;
    padding: 20px;
    color: #FCF7FF;
}

footer{
    grid-area: footer;
    background-color: #878C8F;
    color: #FCF7FF;
    text-align: center;
}

.about-me img{
    float: left;
    padding-right: 5px;
    width: 20vh;
    border-radius: 60%;
    height: 20vh;
}

.contact-info{
    text-align: center;
}

.about-me h1{
    display: inline-block;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 8px;
    border-style: double;
    background-color: #A4969B;
    color: #FCF7FF;
}