html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    background-color: #042A2B;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 0.8fr 0.8fr 0.1fr;
    gap: 10px;
    grid-template-areas:
    "header header header header"
    "about about about about"
    "com com com com"
    "footer footer footer footer";
}

#title{
    background-color: #54F2F2;
    border-radius: 25px;
    border-style: none;
    color: #042A2B;
}

.header{
    grid-area: header;
    background-color: #5EB1BF;
    text-align: center;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
}

.sticky + .content{
    padding-top: 102px;
}

.navbar{
    border-style: none;
    background-color: #54F2F2;
    padding: 5px;
}

.nav-logo img{
    width: 25px;
    border-radius: 25px;
}

.about-me{
    grid-area: about;
    background-color: #5EB1BF;
    padding: 20px;
    text-align: center;
}

.commission{
    display: flex;
    background-color: #5EB1BF;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.artist{
    display: flex;
    background-color: #5EB1BF;
    flex-direction: row-reverse;
    padding: 10px;
    flex-wrap: wrap;
}

.blog{
    display: flex;
    background-color: #5EB1BF;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

footer{
    grid-area: footer;
    background-color: #5EB1BF;
    color: #042A2B;
    text-align: center;
}

.about-me img {
    width: 50vw;
}

.about-me h1{
    background-color: #54F2F2;
    color: #042A2B;
}

.commission img {
    width: 50vw;
}

.artist img {
    width: 50vw;
}

.blog img {
    width: 50vw;
}