html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    background-color: #FCF7FF;
    padding-left: 10%;
    padding-right: 10%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 0.8fr 0.7fr 0.7fr 0.7fr 0.1fr;
    gap: 10px;
    grid-template-areas:
    "header header header header"
    "about about about about"
    "com com com com"
    "art art art art"
    "blog blog blog blog"
    "footer footer footer footer";
}

#title{
    color: #FCF7FF;
    margin-left: 25px;
}

.header{
    grid-area: header;
    background-color: #878C8F;
}

.nav-container{
    display: flex;
}

.navbar{
    text-align: center;
    padding: 6px;
    background-color: #A4969B;
}

.nav-logo img{
    width: 40px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 35%;
}

.about-me{
    grid-area: about;
    background-color: #878C8F;
    padding: 20px;
    text-align: center;
    color: #FCF7FF;
}

.commission{
    grid-area: com;
    background-color: #878C8F;
    text-align: center;
    color: #FCF7FF;
    padding: 4px;
}

.commission h2{
    background-color: #A4969B;
    border-radius: 8px;
    border-style: double;
}

.artist{
    grid-area: art;
    background-color: #878C8F;
    text-align: center;
    color: #FCF7FF;
    padding: 4px;
}

.blog{
    grid-area: blog;
    background-color: #878C8F;
    text-align: center;
    color: #FCF7FF;
    padding: 4px;
}

footer{
    grid-area: footer;
    background-color: #878C8F;
    color: #FCF7FF;
    text-align: center;
}

.about-me img {
    width: 25vh;
    border-radius: 60%;
    height: 20vh;
}

.about-me h1{
    border-radius: 8px;
    border-style: double;
    background-color: #A4969B;
    color: #FCF7FF;
}

.commission img {
    width: 50vw;
}

.artist img {
    width: 50vw;
}

.blog img {
    width: 50vw;
}